nifi/LoadStatic.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>4f02a0e2-018c-1000-2f07-3a5344afe090</groupId>
    <name>LoadStatic</name>
    <snippet>
        <connections>
            <id>29df4c35-d89f-31dd-0000-000000000000</id>
            <parentGroupId>df4a54e8-192a-3fe4-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>df4a54e8-192a-3fe4-0000-000000000000</groupId>
                <id>ffa93a91-7ade-36b2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>df4a54e8-192a-3fe4-0000-000000000000</groupId>
                <id>1581dbfc-ce43-3034-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9255c9b9-e740-3bd8-0000-000000000000</id>
            <parentGroupId>df4a54e8-192a-3fe4-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>df4a54e8-192a-3fe4-0000-000000000000</groupId>
                <id>1581dbfc-ce43-3034-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>df4a54e8-192a-3fe4-0000-000000000000</groupId>
                <id>1b0a192a-3044-3e9c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a9d974a4-92cf-3dd6-0000-000000000000</id>
            <parentGroupId>df4a54e8-192a-3fe4-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>df4a54e8-192a-3fe4-0000-000000000000</groupId>
                <id>6d6212c5-d55c-3f4c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>df4a54e8-192a-3fe4-0000-000000000000</groupId>
                <id>ffa93a91-7ade-36b2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>f85488b0-a916-30d2-0000-000000000000</id>
            <parentGroupId>df4a54e8-192a-3fe4-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonStaticWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>fce7867b-f9b4-3f58-0000-000000000000</id>
            <parentGroupId>df4a54e8-192a-3fe4-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>record_format</key>
                    <value>
                        <name>record_format</name>
                    </value>
                </entry>
                <entry>
                    <key>attribute_prefix</key>
                    <value>
                        <name>attribute_prefix</name>
                    </value>
                </entry>
                <entry>
                    <key>content_field_name</key>
                    <value>
                        <name>content_field_name</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>XMLStaticReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>record_format</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>attribute_prefix</key>
                </entry>
                <entry>
                    <key>content_field_name</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.xml.XMLReader</type>
        </controllerServices>
        <labels>
            <id>c92b7163-088f-3039-0000-000000000000</id>
            <parentGroupId>df4a54e8-192a-3fe4-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <height>872.0</height>
            <label>Loading static data</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>18px</value>
                </entry>
            </style>
            <width>1352.0</width>
        </labels>
        <processors>
            <id>1581dbfc-ce43-3034-0000-000000000000</id>
            <parentGroupId>df4a54e8-192a-3fe4-0000-000000000000</parentGroupId>
            <position>
                <x>64.0</x>
                <y>264.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>fce7867b-f9b4-3f58-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>f85488b0-a916-30d2-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertXMLtoJSON</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
        <processors>
            <id>1b0a192a-3044-3e9c-0000-000000000000</id>
            <parentGroupId>df4a54e8-192a-3fe4-0000-000000000000</parentGroupId>
            <position>
                <x>64.0</x>
                <y>56.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>
                            <name>Keep Source File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>
                            <name>Polling Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Input Directory</key>
                        <value>/home/vagrant/PROJECT/data/datascience</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>.*\.xml</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetStaticData</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
        <processors>
            <id>45c014f3-f237-38aa-0000-000000000000</id>
            <parentGroupId>df4a54e8-192a-3fe4-0000-000000000000</parentGroupId>
            <position>
                <x>864.0</x>
                <y>48.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Command</key>
                        <value>
                            <name>Command</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>
                            <name>Command Arguments</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Duration</key>
                        <value>
                            <name>Batch Duration</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Redirect Error Stream</key>
                        <value>
                            <name>Redirect Error Stream</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>
                            <name>Working Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>
                            <name>Argument Delimiter</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Command</key>
                        <value>/home/vagrant/PROJECT/nifi/scripts/decompress_static.sh</value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                    </entry>
                    <entry>
                        <key>Batch Duration</key>
                    </entry>
                    <entry>
                        <key>Redirect Error Stream</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>/home/vagrant/PROJECT</value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value> </value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExecuteProcess</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
        </processors>
        <processors>
            <id>6d6212c5-d55c-3f4c-0000-000000000000</id>
            <parentGroupId>df4a54e8-192a-3fe4-0000-000000000000</parentGroupId>
            <position>
                <x>72.0</x>
                <y>680.0</y>
            </position>
            <bundle>
                <artifact>nifi-hadoop-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Password</key>
                        <value>
                            <name>Kerberos Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>
                            <name>Kerberos Relogin Period</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                        <value>
                            <name>Additional Classpath Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                        <value>
                            <name>Block Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                        <value>
                            <name>IO Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replication</key>
                        <value>
                            <name>Replication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                        <value>
                            <name>Permissions umask</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                        <value>
                            <name>Remote Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                        <value>
                            <name>Remote Group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>
                            <name>Compression codec</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Locality</key>
                        <value>
                            <name>Ignore Locality</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>/usr/local/hadoop/etc/hadoop/hdfs-site.xml,/usr/local/hadoop/etc/hadoop/core-site.xml</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                    </entry>
                    <entry>
                        <key>Kerberos Password</key>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>4 hours</value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>/user/vagrant/PROJECT/static</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                    </entry>
                    <entry>
                        <key>Replication</key>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>Ignore Locality</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutHDFS</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
        <processors>
            <id>ffa93a91-7ade-36b2-0000-000000000000</id>
            <parentGroupId>df4a54e8-192a-3fe4-0000-000000000000</parentGroupId>
            <position>
                <x>64.0</x>
                <y>472.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>${filename:substringBefore('.')}.json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ChangeFileExtension</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
    </snippet>
    <timestamp>12/09/2023 16:36:32 UTC</timestamp>
</template>
